# Don't track heavy resources in VCS -- download before bundling
Hybrid AIthletics/Resources/

# Swift Package Manager build artifacts
.build/

# IDEs
.vscode/
Hybrid AIthletics.xcodeproj/project.xcworkspace/xcuserdata/bradley.xcuserdatad/UserInterfaceState.xcuserstate

