<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.194504085959-f1bhbq2bic5qnajo4rcn91p1oe06cjro</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>194504085959-f1bhbq2bic5qnajo4rcn91p1oe06cjro.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Exercise Drag Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.hybridaithletics.exercise</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Strength Exercise Drag Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.hybridaithletics.strengthexercise</string>
		</dict>
	</array>
</dict>
</plist>
